@font-face {
    font-family: Text;
    src: url('../Font/Hattori.eot');
    src: url('../Font/Hattori.etc?#iefix')  format('embedded-opentype'),
         url('../Font/Hattori.woff')        format('woff'),
         url('../Font/Hattori.ttf')         format('truetype'),
         url('../Font/Hattori.svg#Hattori') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Title;
    src: url('../Font/Matchbook.eot');
    src: url('../Font/Matchbook.etc?#iefix')    format('embedded-opentype'),
         url('../Font/Matchbook.woff')          format('woff'),
         url('../Font/Matchbook.ttf')           format('truetype'),
         url('../Font/Matchbook.svg#Matchbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    color: #3e0808;
    font: 1.3em/1.4em Text;
    margin: 0 4em;
    text-shadow: #fff -1px 1px;
    background: #f0f0e8 url("../Image/Background.gif");
}

#body {
    position: relative;
    min-height: 100%;
}

    #body > :nth-last-child(2) {
        padding-bottom: 2em !important;
    }

header {
    margin: 0 0 5em 0;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

footer > p {
    font-size: 70%;
    text-align: center;
}

p {
    text-align: justify;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font: 600%/.2em Title;
    color: #da392e;
    text-shadow: #bcbcb5 -2px 2px;
    margin: 0;
    padding: 0;
}

    h1 {
        text-align: center;
        padding: .8em 0 0 0;
    }

        h1:before,
        h1:after {
            content: "★";
            margin: 0 .4em;
            font-size: 70%;
        }

    h2 {
        position: relative;
        font-size: 300%;
        line-height: .9em;
        text-shadow: #bcbcb5 -1px 1px;
        padding: 1em 0 .5em 0;
    }

        h2:before {
            content: "➠";
            position: absolute;
            left: -2em;
            opacity: 0;
            font-size: 50%;
            -moz-transition: left .4s, opacity .4s;
        }

        h2:hover:before {
            left: -1.2em;
            opacity: 1;
        }

        h2:first-of-type {
            padding-top: .5em;
        }

a {
    color: #a82323;
    padding: 2px 5px;
    text-decoration: none;
    background: #f5e6e6;
}

    a:hover,
    a:active {
        color: #f5e6e6;
        text-shadow: #611111 -1px 1px;
        background: #a82323;
    }

ul > li {
    list-style: none;
    position: relative;
    margin: 0 0 0 1em;
}

    ul li:before {
        content: "✪";
        position: absolute;
        left: -2em;
    }

    ul li:hover:before {
        color: #da392e;
    }
